---
Logging:
  LogLevel:
    Default: Information
    Microsoft.AspNetCore: Warning
AllowedHosts: "*"

Serilog:
  MinimumLevel: 
    Default: "Information"
    Override:
      Microsoft: "Warning"
      Microsoft.Hosting.Lifetime: "Information"
      Microsoft.AspNetCore: "Warning"
  Using:  
    - Serilog.Enrichers.ClientInfo
    - Serilog.Expressions
    - Serilog.Exceptions
    - Serilog.Exceptions.Refit
  Enrich:
    - Name: WithCorrelationId
      Args: 
        addValueIfHeaderAbsence: false
    - Name: WithExceptionDetails
      Args:
        DefaultDestructuringEnabled: true
      Destructurers:
        - Name: "Serilog.Exceptions.Refit.Destructurers.ApiExceptionDestructurer, Serilog.Exceptions.Refit"
        
  Filter:
    - Name: "ByExcluding"
      Args:
        expression: "@mt = 'An unhandled exception has occurred while executing the request.'"
  WriteTo: 
    - Name: Console
      Args:
        formatter:
          type: "Serilog.Templates.ExpressionTemplate, Serilog.Expressions"
          template: "[{@t:yyyy-MM-ddTHH:mm:ss} {Coalesce(CorrelationId, '0000000000000:00000000')} {@l:u3}] {@m}\n{@x}"

Kestrel:
  Endpoints:
    https:
      Url: "https://+:8443"
      Certificate:
        Path: "/home/app/localhost.crt"
        KeyPath: "/home/app/localhost.key"

ReverseProxy:
  Clusters:
    kc:
      Destinations:
        kc:
          Address: https://kc.apps.yunqi.studio
  Routes:
    gitlab_auth:
      ClusterId: kc
      Match:
        Path: "/oauth/authorize"
      Transforms:
        - RequestHeadersCopy: 'true'
        - DumpRequestHeaders: 'Information'
        - DumpResponseHeaders: 'Information'
        - PathSet: "/realms/master/protocol/openid-connect/auth"
    gitlab_token:
      ClusterId: kc
      Match:
        Path: "/oauth/token"
      Transforms:
        - RequestHeadersCopy: 'true'
        - DumpRequestHeaders: 'Information'
        - DumpResponseHeaders: 'Information'
        - PathSet: "/realms/master/protocol/openid-connect/token"
    keycloak_rest:
      ClusterId: kc
      Match:
        Path: "/{prefix:regex(^resources|^realms|^common)}/{**catchall}"
      Transforms:
        - RequestHeadersCopy: 'true'  

AppConfig:
  OpenId:
    Url: "https://kc.apps.yunqi.studio"
    AppId: ""
    AppSecret: ""
  GitLab:
    Url: "http://gitlab.apps.yunqi.studio"
    PAT:
      BootstrapToken: "glpat-t"
      StoreLocation: "/home/app/.gitlab/pat"

  